<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aakbas.projectatlas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutMe"></activity>
        <activity android:name=".BadEnding" />
        <activity android:name=".GoodEnding" />
        <activity android:name=".GameOver2" />
        <activity android:name=".checkpoint22" />
        <activity android:name=".checkpoint21" />
        <activity android:name=".checkpoint20" />
        <activity android:name=".GameOver1" />
        <activity android:name=".checkpoint19" />
        <activity android:name=".checkpoint18" />
        <activity android:name=".checkpoint17" />
        <activity android:name=".checkpoint16" />
        <activity android:name=".checkpoint15" />
        <activity android:name=".checkpoint14" />
        <activity android:name=".checkpoint12" />
        <activity android:name=".checkpoint13" />
        <activity android:name=".checkpoint11" />
        <activity android:name=".checkpoint9b" />
        <activity android:name=".checkpoint9a" />
        <activity android:name=".checkpoint10" />
        <activity android:name=".checkpoint9" />
        <activity android:name=".checkpoint8" />
        <activity android:name=".checkpoint7" />
        <activity android:name=".checkpoint6" />
        <activity android:name=".checkpoint5" />
        <activity android:name=".checkpoint4" />
        <activity android:name=".checkpoint3" />
        <activity android:name=".checkpoint2" />
        <activity android:name=".checkpoint1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>